@media print {
  body * {
    visibility: hidden;
  }

  .container,
  .container * {
    visibility: visible;
  }

  .container {
    position: absolute;
    left: 0;
    top: 0;
  }

  main.v-content {
    padding: 0 !important;
  }
}
